#ma{
  margin-left:41px;
  width:40px;
  height:40px;

  
}
#maa{
  margin-left:30px;
  width:40px;
  height:40px;
}
#nv{
  background-color:  #1b60b3  ;
 
}
#b{
  color:black;
  margin-left:20px;
}
#se{
  margin-left:459px;
}
#max{
  margin-left:191px;
  width:40px;
  height:40px;
}

/* container */
#con{
  /* background-color:whitesmoke; */
  margin-top:30px;
  width:400px;
  height: 550px;

}
.avatar {
  margin-left:10px;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#mur{
  color:darkmagenta;
}
#ico{
  width: 21px;
  height: 21px;
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
#whi{
  margin-left:550px;
}
#ms{
  margin-left:20px;
  font-size: 15px;
  width:900px;
}

b{
  color: black;
}
.vl {
 
  border-left: 8px solid whitesmoke;
  height: 500px;
}
#wh{
  margin-left:500px;
  margin-top:20px;
 
}
.vl {
  
  margin-left:400px;
  border-left: 6px solid whitesmoke;
  height: 200px;
}
#ul {
  margin-top:70px;
  
  height: 100%;
  overflow-y: scroll;
  
}
#side 
{
   height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.card1::-webkit-scrollbar {
  display: none;
}
#follow{
  margin-left: 700px;
}

#wel{
  font-weight: normal;
  font-size: 50px;
  width:283px;
  height:150px; 
}
 
#micro{
  font-size: 30px;
  font-weight: normal; 
}